<h1>Step 2: Delivery Method </h1>

<% if @form.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @form, scope: :checkout, url: checkout_update_path(step: params[:step]), local: true, html: { method: :patch } do |form| %>
  <div class="form-check">
    <div class="col-sm-4">
      <%= form.collection_radio_buttons(:name, DeliveryMethod.all, :name, :name) %>
    </div>
  </div>

  <%= link_to 'Back', checkout_path(step: 'address'), class: "btn btn-sm" %>
  <%= form.submit 'Next' %>

<% end %>
