<h1>Step 3: Payment info </h1>
<h2>Order: <%= @checkout.order.identifier %></h2>
<h2>State: <%= @checkout.order.state %></h2>

<% if @form.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @form, scope: :checkout, url: make_payment_path(step: params[:step]), local: true do |form| %>
  <div class="form-check">
    <div class="col-sm-4">
      <%= form.text_field :customer_email %>
    </div>
  </div>

  <%= link_to 'Back', checkout_path(step: 'delivery_method'), class: "btn btn-sm" %>
  <%= form.submit 'Next' %>

<% end %>
