<h1>Step 3: Payment </h1>

<% if @form.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @form, scope: :checkout, url: checkout_update_path(step: params[:step]), local: true, html: { method: :patch } do |form| %>
  <%= form.hidden_field :payment %>

  <%= link_to 'Back', checkout_path(step: 'delivery_address'), class: "btn btn-sm" %>
  <%= form.submit 'Next' %>
<% end %>
