<h1>Step 3: Payment </h1>

<%= form_tag 'https://sandbox.przelewy24.pl/trnDirect', method: :post do %>
  <div class="form-group row">
    <%= label_tag :p24_merchant_id, 'p24_merchant_id', class: "col-sm-2 col-label_tag" %>
    <div class="col-sm-4">
      <%= text_field_tag :p24_merchant_id, @form.p24_merchant_id, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag :p24_pos_id, 'p24_pos_id', class: "col-sm-2 col-label_tag" %>
    <div class="col-sm-4">
      <%= text_field_tag :p24_pos_id, @form.p24_pos_id, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag :p24_session_id, 'p24_session_id', class: "col-sm-2 col-label_tag" %>
    <div class="col-sm-4">
      <%= text_field_tag :p24_session_id, @form.p24_session_id, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag :p24_amount, 'p24_amount', class: "col-sm-2 col-label_tag" %>
    <div class="col-sm-4">
      <%= text_field_tag :p24_amount, @checkout.cart.value.cents, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag :p24_currency, 'p24_currency', class: "col- sm-2 col-label_tag" %>
    <div class="col-sm-4">
      <%= text_field_tag :p24_currency, @checkout.cart.value.currency, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag :p24_description, 'p24_description', class: "col-sm-2 col-label_tag" %>
    <div class="col-sm-4">
      <%= text_field_tag :p24_description, @form.p24_description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag :p24_email, 'p24_email', class: "col-sm-2 col-label_tag" %>
    <div class="col-sm-4">
      <%= text_field_tag :p24_email, nil, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag :p24_url_return, 'p24_url_return', class: "col-sm-2 col-label_tag" %>
    <div class="col-sm-4">
      <%= text_field_tag :p24_url_return, 'http://a28fc0ad5023.ngrok.io', class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag :p24_api_version, 'p24_api_version', class: "col-sm-2 col-label_tag" %>
    <div class="col-sm-4">
      <%= text_field_tag :p24_api_version, @form.p24_api_version, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag :p24_sign, 'p24_sign', class: "col-sm-2 col-label_tag" %>
    <div class="col-sm-4">
      <%= text_field_tag :p24_sign, @form.p24_sign, class: "form-control" %>
    </div>
  </div>


  <%= link_to 'Back', checkout_path(step: 'delivery_address'), class: "btn btn-sm" %>
  <%= submit_tag 'Next' %>
<% end %>
