<tr>
  <td><%= order.identifier %></td>
  <td><%= order.state %></td>
  <td><%= order.delivery_method %></td>
  <td><%= order.customer_email %></td>
  <td><%= humanized_money_with_symbol order.final_price %></td>
</tr>
