<h1>Cart show </h1>

<div id="cart">

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">
            <%= t('product') -%>
          </th>
        </tr>
      </thead>
      <tbody>
        <% current_cart.map do |product_id, quantity| %>
            <tr>
              <td><%= product_id %></td>
              <td><%= quantity %></td>
            </tr>
        <% end %>
      </tbody>
    </table>

</div>

<%= link_to 'Back', :back %>
<%= link_to 'Clean cart', cart_path, method: :delete, class: "btn btn-outline-dark btn-sm" %>
