<h1>Cart show (<%= @cart.identifier %>)</h1>

<%= form_with model: @cart, url: cart_path(@cart), method: :patch do |form| %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit price</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @cart.items.each_with_index do |item, index| %>
        <%= fields_for "items[]", item do |f| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to item.product_name, product_path(item.product_id) %></td>
          <td><%= f.select :quantity, options_for_select([1,2,3,4,5], item.quantity)%></td>
            <td><%= humanized_money_with_symbol item.unit_price %></td>
          <td><%= humanized_money_with_symbol item.final_price %></td>
          <td><%= link_to "Remove from cart", remove_from_cart_product_path(item.id), method: :delete %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= form.submit("Update", name: false) %>
<% end %>


<%= link_to "back", :back %>
