<h1>Cart show </h1>

<div id="cart">
  <%= form_with url: carts_path, local: true, html: {method: :patch} do |form| %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">
            <%= t('product') -%>
          </th>
          <th scope="col">
            <%= t('quantity') -%>
          </th>
          <th scope="col">
            <%= t('unit_price') -%>
          </th>
          <th scope="col">
            <%= t('total_price') -%>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% current_cart.items.each do |item| %>
          <%= fields_for 'items[]', item.product_id do |f| %>
            <tr>
              <td><%= link_to current_cart.product(product_id: item.product_id).name, product_path(item.product_id) %></td>
              <td><%= f.text_field :quantity, value: item.quantity %></td>
              <td><%= humanized_money_with_symbol current_cart.product(product_id: item.product_id).price %></td>
              <td><%= total_price(item.product_id, item.quantity.to_i) %></td>
              <td><%= link_to 'Remove from cart', cart_item_path(product_id: item.product_id), method: :delete %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Back', :back %>
    <%= form.submit('Update', name: false) %>
    <%= link_to 'Clean cart', cart_path, method: :delete, class: "btn btn-outline-dark btn-sm" %>
    <%= link_to 'Checkout', checkout_path(step: 'address'), class: "btn btn-outline-dark btn-sm" %>
  <% end %>
</div>
