<h1><%= "#{@product.name} (#{@product.code})" %></h1>
<p>
  <%= @product.description %>
  <br>
  Price: <%= humanized_money_with_symbol @product.price %>
  <%= form_with url: add_to_cart_cart_path, method: :post do |form| %>
    <%= form.text_field :cart_id, value: @current_cart&.id, hidden: true %>
    <%= form.select :quantity, (1..10) %>
    <%= form.submit("Add to cart", name: nil) %>
  <% end %>
</p>

<%= link_to "back", :back %>
