<h1><%= "#{@product.name} (#{@product.code})" %></h1>
<p>
  <%= @product.description %>
  <br>
  Price: <%= humanized_money_with_symbol @product.price %>
  <%= form_with model: @cart_item do |form| %>
    <%= form.hidden_field :cart_identifier, value: @current_cart.identifier %>
    <%= form.hidden_field :product_id, value: @product.id %>
    <%= form.select :quantity, (1..10) %>
    <%= form.submit("Add to cart", name: nil) %>
  <% end %>
</p>  

<%= link_to "back", :back %>
